/* Externe CSS-Datei, die in HTML-Seiten eingebunden
werden kann .... */

/* Universalselektor - er umfasst ALLE Elemente auf der Webseite*/
* {
	margin:0;
}





html {
	font-family:verdana, arial, sans-serif;
}

/* alles gilt für BEIDE Selektoren*/
header, footer {
	background:black;
	color:white;
	text-align:center;
}

div#startbild {
	background:url(images/screen.png);
	height:500px;
}

main {
	margin:0 auto;
	width:1200px;
	display:flex;
	flex-direction:row;	
}

#content {
  display: flex;
}


nav {
	background:white;
	text-align:center;
	width:200px;
	background:#25292D;
}

nav ul{
	list-style-type:none;
	padding:0;
}


nav ul li {

	/* Schriftgröße 1.3-fach der Standardgröße */
	font-size:1.3rem;
	/* Zeilenhöhe auf dieselbe Höhe wie der NAV-Bereich 
	-> Menü vertikal in der Mitte*/
	line-height:50px;
	width:200px;

	margin-right:20px;
	background:#25292D;
	
}

 
 
/* Änderung beim Überfahren mit der Maus */
nav ul li:hover {
	background:black;
	transition:all 0.3s;
	

	
	
}

nav ul li a:hover{
	color:#FF26E2;
}

nav ul li a {
	text-decoration:none;
	color:white;
/* Streckt das a über das ganze LI */
    display:block;	
}

article {
	width:1000px;
	padding:10px;
	border-left:2px #090A0B solid;	
	border-right:2px #090A0B solid;
	
}



/* Zugriff auf ein Element INNERHALB eines anderen Elementes*/
article p {
	margin-bottom:10px;
}

article img {
	margin-top:10px;
	margin-bottom:10px;
}

article a{
	color:#fc8100;
	text-decoration:none;
	font-weight:bold;
}

article a:hover{
	background:black;
}
footer img{
	height:100px;
}



.slideshow-container { width: 1000px;
 height: 400px;
 margin: 0 auto; 
 position: relative;
 overflow: hidden; 
 margin-bottom:30px; 
 margin-top:15px;
 } 
 
 .slide { 
 display: none; 
 position: absolute; 
 width: 100%; 
 height: 100%; 
 } 
 
 .slide img { 
 width: 100%; 
 height: 100%; 
 object-fit: cover; 
 }
 
 .fade {
	 animation: fadeEffect 1.5s; } 
	 
@keyframes fadeEffect { 
from { 
opacity: 0.3; 
} 
to { 
opacity: 1;
 }
 }